.chat-box {
  /* width: 400px; */
  min-height: 300px;
  
  border: 1px solid black;
  border-color: black black white black;
  border-width: 1px 1px 0px 1px;
  
  border-radius: 20px 20px 0px 0px;  
}

.chat-box p {
  margin: 0.5rem 1rem 0rem 1rem;
  padding: 0px;
}

.form-group { }
.form-control {
  border: 1px solid black;
}

.btn {
  
}